[data-cellid="footer_c1"][data-page=".global_login"][data-cellid="footer_c1"][data-page=".global_login"][data-cellid="footer_c1"][data-page=".global_login"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page=".global_login"][data-cellid="footer_c2"][data-page=".global_login"][data-cellid="footer_c2"][data-page=".global_login"] {
  width: 66.66666667%;
}
[data-cellid="footer_c5"][data-page=".global_login"][data-cellid="footer_c5"][data-page=".global_login"][data-cellid="footer_c5"][data-page=".global_login"] {
  width: 33.33333333%;
}
[data-cellid="footer_c6"][data-page=".global_login"][data-cellid="footer_c6"][data-page=".global_login"][data-cellid="footer_c6"][data-page=".global_login"] {
  width: 66.66666667%;
}
[data-page=".global_login"][data-itemid="text"] {
  font-weight: bold;
  font-size: 20px;
}


