[data-cellid="grid_footcell_field"][data-page="adminallentry_list"][data-cellid="grid_footcell_field"][data-page="adminallentry_list"][data-cellid="grid_footcell_field"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="adminallentry_list"][data-cellid="grid_footcell_field1"][data-page="adminallentry_list"][data-cellid="grid_footcell_field1"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="adminallentry_list"][data-cellid="grid_footcell_field2"][data-page="adminallentry_list"][data-cellid="grid_footcell_field2"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="adminallentry_list"][data-cellid="grid_footcell_field3"][data-page="adminallentry_list"][data-cellid="grid_footcell_field3"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="adminallentry_list"][data-cellid="grid_footcell_field4"][data-page="adminallentry_list"][data-cellid="grid_footcell_field4"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="adminallentry_list"][data-cellid="grid_footcell_field5"][data-page="adminallentry_list"][data-cellid="grid_footcell_field5"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="adminallentry_list"][data-cellid="grid_footcell_field6"][data-page="adminallentry_list"][data-cellid="grid_footcell_field6"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="adminallentry_list"][data-cellid="grid_footcell_field7"][data-page="adminallentry_list"][data-cellid="grid_footcell_field7"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="adminallentry_list"][data-cellid="grid_footcell_field8"][data-page="adminallentry_list"][data-cellid="grid_footcell_field8"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="adminallentry_list"][data-cellid="grid_footcell_field9"][data-page="adminallentry_list"][data-cellid="grid_footcell_field9"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="adminallentry_list"][data-cellid="grid_footcell_field10"][data-page="adminallentry_list"][data-cellid="grid_footcell_field10"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="adminallentry_list"][data-cellid="grid_footcell_field11"][data-page="adminallentry_list"][data-cellid="grid_footcell_field11"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="adminallentry_list"][data-cellid="grid_footcell_field12"][data-page="adminallentry_list"][data-cellid="grid_footcell_field12"][data-page="adminallentry_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="adminallentry_list"][data-cellid="grid_headcell_icons"][data-page="adminallentry_list"][data-cellid="grid_headcell_icons"][data-page="adminallentry_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="adminallentry_list"][data-cellid="grid_cell_icons"][data-page="adminallentry_list"][data-cellid="grid_cell_icons"][data-page="adminallentry_list"] {
  white-space: nowrap;
}


