[data-cellid="grid_c3"][data-page="adminapprovedentry_confirmation"][data-cellid="grid_c3"][data-page="adminapprovedentry_confirmation"][data-cellid="grid_c3"][data-page="adminapprovedentry_confirmation"] {
  height: 25%;
}
[data-cellid="grid_c8"][data-page="adminapprovedentry_confirmation"][data-cellid="grid_c8"][data-page="adminapprovedentry_confirmation"][data-cellid="grid_c8"][data-page="adminapprovedentry_confirmation"] {
  height: 25%;
  font-weight: bold;
}
[data-cellid="grid_c35"][data-page="adminapprovedentry_confirmation"][data-cellid="grid_c35"][data-page="adminapprovedentry_confirmation"][data-cellid="grid_c35"][data-page="adminapprovedentry_confirmation"] {
  height: 25%;
}
[data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"] > * > input,
[data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"] > * > select,
[data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"] > * > * > select,
[data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"] > .form-control-static,
[data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"] > [id^=view],
[data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"] label,
[data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"][data-page="adminapprovedentry_confirmation"][data-itemid="integrated_edit_field"] > * > .r-readonly-control {
  font-size: 275px;
}


