[data-cellid="grid_footcell_field"][data-page="announcer2022_list"][data-cellid="grid_footcell_field"][data-page="announcer2022_list"][data-cellid="grid_footcell_field"][data-page="announcer2022_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="announcer2022_list"][data-cellid="grid_footcell_field1"][data-page="announcer2022_list"][data-cellid="grid_footcell_field1"][data-page="announcer2022_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="announcer2022_list"][data-cellid="grid_footcell_field2"][data-page="announcer2022_list"][data-cellid="grid_footcell_field2"][data-page="announcer2022_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="announcer2022_list"][data-cellid="grid_footcell_field3"][data-page="announcer2022_list"][data-cellid="grid_footcell_field3"][data-page="announcer2022_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="announcer2022_list"][data-cellid="grid_footcell_field4"][data-page="announcer2022_list"][data-cellid="grid_footcell_field4"][data-page="announcer2022_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="announcer2022_list"][data-cellid="grid_footcell_field5"][data-page="announcer2022_list"][data-cellid="grid_footcell_field5"][data-page="announcer2022_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="announcer2022_list"][data-cellid="grid_headcell_icons"][data-page="announcer2022_list"][data-cellid="grid_headcell_icons"][data-page="announcer2022_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="announcer2022_list"][data-cellid="grid_cell_icons"][data-page="announcer2022_list"][data-cellid="grid_cell_icons"][data-page="announcer2022_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="announcer2022_list"][data-cellid="grid_headcell_checkbox"][data-page="announcer2022_list"][data-cellid="grid_headcell_checkbox"][data-page="announcer2022_list"] {
  width: 30px;
}


