[data-cellid="grid_footcell_field"][data-page="announcer2023_list"][data-cellid="grid_footcell_field"][data-page="announcer2023_list"][data-cellid="grid_footcell_field"][data-page="announcer2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="announcer2023_list"][data-cellid="grid_footcell_field1"][data-page="announcer2023_list"][data-cellid="grid_footcell_field1"][data-page="announcer2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="announcer2023_list"][data-cellid="grid_footcell_field2"][data-page="announcer2023_list"][data-cellid="grid_footcell_field2"][data-page="announcer2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="announcer2023_list"][data-cellid="grid_footcell_field3"][data-page="announcer2023_list"][data-cellid="grid_footcell_field3"][data-page="announcer2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="announcer2023_list"][data-cellid="grid_footcell_field4"][data-page="announcer2023_list"][data-cellid="grid_footcell_field4"][data-page="announcer2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="announcer2023_list"][data-cellid="grid_footcell_field5"][data-page="announcer2023_list"][data-cellid="grid_footcell_field5"][data-page="announcer2023_list"] {
  white-space: nowrap;
}


