[data-cellid="grid_c8"][data-page="Entry_confirmation"][data-cellid="grid_c8"][data-page="Entry_confirmation"][data-cellid="grid_c8"][data-page="Entry_confirmation"] {
  font-weight: bold;
}
[data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"] > * > input,
[data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"] > * > select,
[data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"] > * > * > select,
[data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"] > .form-control-static,
[data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"] > [id^=view],
[data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"] label,
[data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation"][data-itemid="integrated_edit_field"] > * > .r-readonly-control {
  font-size: 275px;
}
[data-page="Entry_confirmation"][data-itemid="text1"] {
  font-weight: bold;
  white-space: normal;
}


