[data-cellid="grid_c8"][data-page="Entry_confirmation1"][data-cellid="grid_c8"][data-page="Entry_confirmation1"][data-cellid="grid_c8"][data-page="Entry_confirmation1"] {
  font-weight: bold;
}
[data-page="Entry_confirmation1"][data-itemid="text"] {
  font-weight: bold;
  font-size: 30px;
  white-space: normal;
}
[data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"] > * > input,
[data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"] > * > select,
[data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"] > * > * > select,
[data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"] > .form-control-static,
[data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"] > [id^=view],
[data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"] label,
[data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"][data-page="Entry_confirmation1"][data-itemid="integrated_edit_field"] > * > .r-readonly-control {
  font-size: 275px;
}
[data-page="Entry_confirmation1"][data-itemid="text1"] {
  font-weight: bold;
  font-size: 30px;
  white-space: normal;
}
[data-page="Entry_confirmation1"][data-itemid="text3"] {
  font-size: 30px;
}


