[data-cellid="grid_footcell_field"][data-page="form2023_list"][data-cellid="grid_footcell_field"][data-page="form2023_list"][data-cellid="grid_footcell_field"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="form2023_list"][data-cellid="grid_footcell_field1"][data-page="form2023_list"][data-cellid="grid_footcell_field1"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="form2023_list"][data-cellid="grid_footcell_field2"][data-page="form2023_list"][data-cellid="grid_footcell_field2"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="form2023_list"][data-cellid="grid_footcell_field3"][data-page="form2023_list"][data-cellid="grid_footcell_field3"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="form2023_list"][data-cellid="grid_footcell_field4"][data-page="form2023_list"][data-cellid="grid_footcell_field4"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="form2023_list"][data-cellid="grid_footcell_field5"][data-page="form2023_list"][data-cellid="grid_footcell_field5"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="form2023_list"][data-cellid="grid_footcell_field6"][data-page="form2023_list"][data-cellid="grid_footcell_field6"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="form2023_list"][data-cellid="grid_footcell_field7"][data-page="form2023_list"][data-cellid="grid_footcell_field7"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="form2023_list"][data-cellid="grid_footcell_field8"][data-page="form2023_list"][data-cellid="grid_footcell_field8"][data-page="form2023_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="form2023_list"][data-cellid="grid_footcell_field9"][data-page="form2023_list"][data-cellid="grid_footcell_field9"][data-page="form2023_list"] {
  white-space: nowrap;
}


