[data-cellid="grid_footcell_field"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field"][data-page="form2022_announcersel"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field1"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field1"][data-page="form2022_announcersel"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field2"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field2"][data-page="form2022_announcersel"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field3"][data-page="form2022_announcersel"][data-cellid="grid_footcell_field3"][data-page="form2022_announcersel"] {
  white-space: nowrap;
}


