[data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"][data-page="form_2019_add"][data-itemid="integrated_edit_field1"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"][data-page="form_2019_add"][data-itemid="integrated_edit_field2"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"][data-page="form_2019_add"][data-itemid="integrated_edit_field3"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"][data-page="form_2019_add"][data-itemid="integrated_edit_field4"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"][data-page="form_2019_add"][data-itemid="integrated_edit_field5"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"][data-page="form_2019_add"][data-itemid="integrated_edit_field6"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"][data-page="form_2019_add"][data-itemid="integrated_edit_field7"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"][data-page="form_2019_add"][data-itemid="integrated_edit_field8"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"][data-page="form_2019_add"][data-itemid="integrated_edit_field9"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"][data-page="form_2019_add"][data-itemid="integrated_edit_field10"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"][data-page="form_2019_add"][data-itemid="integrated_edit_field11"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"][data-page="form_2019_add"][data-itemid="integrated_edit_field13"] > * > * > * > select {
  font-size: 20px;
}
[data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"] > * > label,
[data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"] > * > * > input,
[data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"] > * > * > select,
[data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"] > * > * > .r-readonly-control,
[data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"][data-page="form_2019_add"][data-itemid="integrated_edit_field14"] > * > * > * > select {
  font-size: 20px;
}


