[data-page="frmhardcopy_print"][data-itemid="simple_grid_field1"] {
  font-size: 20px;
  white-space: normal;
}
[data-page="frmhardcopy_print"][data-itemid="simple_grid_field5"] {
  font-size: 20px;
  white-space: normal;
}
[data-page="frmhardcopy_print"][data-itemid="simple_grid_field14"] {
  font-size: 20px;
}
[data-page="frmhardcopy_print"][data-itemid="grid_field1"] {
  font-size: 20px;
  white-space: normal;
}


