[data-cellid="grid_cell_field"][data-page="frmparadeorder_print"][data-cellid="grid_cell_field"][data-page="frmparadeorder_print"][data-cellid="grid_cell_field"][data-page="frmparadeorder_print"] {
  padding-bottom: 50px;
}
[data-cellid="grid_footcell_field"][data-page="frmparadeorder_print"][data-cellid="grid_footcell_field"][data-page="frmparadeorder_print"][data-cellid="grid_footcell_field"][data-page="frmparadeorder_print"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="frmparadeorder_print"][data-cellid="grid_cell_field1"][data-page="frmparadeorder_print"][data-cellid="grid_cell_field1"][data-page="frmparadeorder_print"] {
  padding-bottom: 50px;
}
[data-cellid="grid_footcell_field1"][data-page="frmparadeorder_print"][data-cellid="grid_footcell_field1"][data-page="frmparadeorder_print"][data-cellid="grid_footcell_field1"][data-page="frmparadeorder_print"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="frmparadeorder_print"][data-cellid="grid_cell_field2"][data-page="frmparadeorder_print"][data-cellid="grid_cell_field2"][data-page="frmparadeorder_print"] {
  padding-bottom: 50px;
}
[data-cellid="grid_footcell_field2"][data-page="frmparadeorder_print"][data-cellid="grid_footcell_field2"][data-page="frmparadeorder_print"][data-cellid="grid_footcell_field2"][data-page="frmparadeorder_print"] {
  white-space: nowrap;
}
[data-page="frmparadeorder_print"][data-itemid="text"] {
  font-weight: bold;
  font-size: 30px;
}


