[data-cellid="grid_footcell_field"][data-page="orgtypes_list"][data-cellid="grid_footcell_field"][data-page="orgtypes_list"][data-cellid="grid_footcell_field"][data-page="orgtypes_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="orgtypes_list"][data-cellid="grid_footcell_field1"][data-page="orgtypes_list"][data-cellid="grid_footcell_field1"][data-page="orgtypes_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="orgtypes_list"][data-cellid="grid_footcell_field2"][data-page="orgtypes_list"][data-cellid="grid_footcell_field2"][data-page="orgtypes_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="orgtypes_list"][data-cellid="grid_headcell_icons"][data-page="orgtypes_list"][data-cellid="grid_headcell_icons"][data-page="orgtypes_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="orgtypes_list"][data-cellid="grid_cell_icons"][data-page="orgtypes_list"][data-cellid="grid_cell_icons"][data-page="orgtypes_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="orgtypes_list"][data-cellid="grid_headcell_checkbox"][data-page="orgtypes_list"][data-cellid="grid_headcell_checkbox"][data-page="orgtypes_list"] {
  width: 30px;
}


