[data-cellid="grid_footcell_field"][data-page="signin_print"][data-cellid="grid_footcell_field"][data-page="signin_print"][data-cellid="grid_footcell_field"][data-page="signin_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="signin_print"][data-cellid="grid_footcell_field1"][data-page="signin_print"][data-cellid="grid_footcell_field1"][data-page="signin_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="signin_print"][data-cellid="grid_footcell_field2"][data-page="signin_print"][data-cellid="grid_footcell_field2"][data-page="signin_print"] {
  white-space: nowrap;
}


