[data-cellid="grid_footcell_field"][data-page="yesno2_print"][data-cellid="grid_footcell_field"][data-page="yesno2_print"][data-cellid="grid_footcell_field"][data-page="yesno2_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="yesno2_print"][data-cellid="grid_footcell_field1"][data-page="yesno2_print"][data-cellid="grid_footcell_field1"][data-page="yesno2_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="yesno2_print"][data-cellid="grid_footcell_field2"][data-page="yesno2_print"][data-cellid="grid_footcell_field2"][data-page="yesno2_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="yesno2_print"][data-cellid="grid_footcell_field3"][data-page="yesno2_print"][data-cellid="grid_footcell_field3"][data-page="yesno2_print"] {
  white-space: nowrap;
}


