body.function-login {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-list {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-register {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-register_success {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-remind {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-remind_success {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-changepwd {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-changepwd_success {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-add {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-edit {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-view {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-import {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-menu {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}
body.function-search {
height:100%;
background:transparent url("/images/hero-bg.jpg") no-repeat center center fixed;
background-size:cover;
}