

<ul class="r-menu nav 
menu-treelike
" data-menulevel="1">
	{$active_submenu}
	
	
	{BEGIN item1_menulink}
	<li class=" {$item1_current}">
		
<a {$item1_menulink_attrs} title="{$item1_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item1_icon} {$item1_title}
		</span>
			</span>
		<span class="r-menu-collapsed">{$item1_collicon}{$item1_firstcap}</span>
</a>

	</li>
	{END item1_menulink}
	
	
	{BEGIN item2_menulink}
	<li class=" {$item2_current}">
		
<a {$item2_menulink_attrs} title="{$item2_tooltip}" 
			data-menu-top
			data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
			r-menu-expanded
	"> 
		<span class="r-menu-title">
		{$item2_icon} {$item2_title}
		</span>
				{BEGIN item2_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item2_expand_icon}
	</span>
		<span class="r-menu-collapsed">{$item2_collicon}{$item2_firstcap}</span>
</a>

		
		
				<ul class="
					nav collapse 
			{$submenu2_class}" 
			id="submenu2" data-menulevel=2>
			{BEGIN item3_menulink}
			<li class=" {$item3_current}">
				
<a {$item3_menulink_attrs} title="{$item3_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item3_icon} {$item3_title}
		</span>
			</span>
	</a>

			</li>
			{END item3_menulink}
				
		
					{BEGIN item4_menulink}
			<li class=" {$item4_current}">
				
<a {$item4_menulink_attrs} title="{$item4_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item4_icon} {$item4_title}
		</span>
			</span>
	</a>

			</li>
			{END item4_menulink}
				
		
					{BEGIN item5_menulink}
			<li class=" {$item5_current}">
				
<a {$item5_menulink_attrs} title="{$item5_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item5_icon} {$item5_title}
		</span>
				{BEGIN item5_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item5_expand_icon}
	</span>
	</a>

				
								<ul class="
									nav collapse 
					{$submenu5_class}" 
					id="submenu5" data-menulevel=3>
					{BEGIN item6_menulink}
						<li class=" {$item6_current}">
						
<a {$item6_menulink_attrs} title="{$item6_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item6_icon} {$item6_title}
		</span>
			</span>
	</a>

					</li>
					{END item6_menulink}
								
									{BEGIN item7_menulink}
						<li class=" {$item7_current}">
						
<a {$item7_menulink_attrs} title="{$item7_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item7_icon} {$item7_title}
		</span>
			</span>
	</a>

					</li>
					{END item7_menulink}
								
									{BEGIN item8_menulink}
						<li class=" {$item8_current}">
						
<a {$item8_menulink_attrs} title="{$item8_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item8_icon} {$item8_title}
		</span>
			</span>
	</a>

					</li>
					{END item8_menulink}
								
									{BEGIN item9_menulink}
						<li class=" {$item9_current}">
						
<a {$item9_menulink_attrs} title="{$item9_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item9_icon} {$item9_title}
		</span>
				{BEGIN item9_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item9_expand_icon}
	</span>
	</a>

						
												<ul class="
													nav collapse 
							{$submenu9_class}" 
							id="submenu9" data-menulevel=4>
							{BEGIN item10_menulink}
								<li class=" {$item10_current}">
								
<a {$item10_menulink_attrs} title="{$item10_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item10_icon} {$item10_title}
		</span>
				{BEGIN item10_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item10_expand_icon}
	</span>
	</a>

								
																<ul class="
																	nav collapse 
									{$submenu10_class}" 
									id="submenu10" data-menulevel=5>
									{BEGIN item11_menulink}
										<li class=" {$item11_current}">
										
<a {$item11_menulink_attrs} title="{$item11_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item11_icon} {$item11_title}
		</span>
			</span>
	</a>

									</li>
									{END item11_menulink}
																
																	{BEGIN item12_menulink}
										<li class=" {$item12_current}">
										
<a {$item12_menulink_attrs} title="{$item12_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item12_icon} {$item12_title}
		</span>
			</span>
	</a>

									</li>
									{END item12_menulink}
																
																	{BEGIN item13_menulink}
										<li class=" {$item13_current}">
										
<a {$item13_menulink_attrs} title="{$item13_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item13_icon} {$item13_title}
		</span>
			</span>
	</a>

									</li>
									{END item13_menulink}
																
																	{BEGIN item14_menulink}
										<li class=" {$item14_current}">
										
<a {$item14_menulink_attrs} title="{$item14_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item14_icon} {$item14_title}
		</span>
			</span>
	</a>

									</li>
									{END item14_menulink}
																
																	{BEGIN item15_menulink}
										<li class=" {$item15_current}">
										
<a {$item15_menulink_attrs} title="{$item15_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item15_icon} {$item15_title}
		</span>
			</span>
	</a>

									</li>
									{END item15_menulink}
																</ul>
							</li>
							{END item10_menulink}
												
													{BEGIN item16_menulink}
								<li class=" {$item16_current}">
								
<a {$item16_menulink_attrs} title="{$item16_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item16_icon} {$item16_title}
		</span>
				{BEGIN item16_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item16_expand_icon}
	</span>
	</a>

								
																<ul class="
																	nav collapse 
									{$submenu16_class}" 
									id="submenu16" data-menulevel=5>
									{BEGIN item17_menulink}
										<li class=" {$item17_current}">
										
<a {$item17_menulink_attrs} title="{$item17_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item17_icon} {$item17_title}
		</span>
			</span>
	</a>

									</li>
									{END item17_menulink}
																
																	{BEGIN item18_menulink}
										<li class=" {$item18_current}">
										
<a {$item18_menulink_attrs} title="{$item18_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item18_icon} {$item18_title}
		</span>
			</span>
	</a>

									</li>
									{END item18_menulink}
																
																	{BEGIN item19_menulink}
										<li class=" {$item19_current}">
										
<a {$item19_menulink_attrs} title="{$item19_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item19_icon} {$item19_title}
		</span>
			</span>
	</a>

									</li>
									{END item19_menulink}
																
																	{BEGIN item20_menulink}
										<li class=" {$item20_current}">
										
<a {$item20_menulink_attrs} title="{$item20_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item20_icon} {$item20_title}
		</span>
			</span>
	</a>

									</li>
									{END item20_menulink}
																</ul>
							</li>
							{END item16_menulink}
												</ul>
					</li>
					{END item9_menulink}
								</ul>
			</li>
			{END item5_menulink}
				
		
					{BEGIN item21_menulink}
			<li class=" {$item21_current}">
				
<a {$item21_menulink_attrs} title="{$item21_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item21_icon} {$item21_title}
		</span>
				{BEGIN item21_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item21_expand_icon}
	</span>
	</a>

				
								<ul class="
									nav collapse 
					{$submenu21_class}" 
					id="submenu21" data-menulevel=3>
					{BEGIN item22_menulink}
						<li class=" {$item22_current}">
						
<a {$item22_menulink_attrs} title="{$item22_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item22_icon} {$item22_title}
		</span>
			</span>
	</a>

					</li>
					{END item22_menulink}
								
									{BEGIN item23_menulink}
						<li class=" {$item23_current}">
						
<a {$item23_menulink_attrs} title="{$item23_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item23_icon} {$item23_title}
		</span>
			</span>
	</a>

					</li>
					{END item23_menulink}
								
									{BEGIN item24_menulink}
						<li class=" {$item24_current}">
						
<a {$item24_menulink_attrs} title="{$item24_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item24_icon} {$item24_title}
		</span>
			</span>
	</a>

					</li>
					{END item24_menulink}
								
									{BEGIN item25_menulink}
						<li class=" {$item25_current}">
						
<a {$item25_menulink_attrs} title="{$item25_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item25_icon} {$item25_title}
		</span>
			</span>
	</a>

					</li>
					{END item25_menulink}
								
									{BEGIN item26_menulink}
						<li class=" {$item26_current}">
						
<a {$item26_menulink_attrs} title="{$item26_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item26_icon} {$item26_title}
		</span>
			</span>
	</a>

					</li>
					{END item26_menulink}
								
									{BEGIN item27_menulink}
						<li class=" {$item27_current}">
						
<a {$item27_menulink_attrs} title="{$item27_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item27_icon} {$item27_title}
		</span>
			</span>
	</a>

					</li>
					{END item27_menulink}
								
									{BEGIN item28_menulink}
						<li class=" {$item28_current}">
						
<a {$item28_menulink_attrs} title="{$item28_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item28_icon} {$item28_title}
		</span>
			</span>
	</a>

					</li>
					{END item28_menulink}
								</ul>
			</li>
			{END item21_menulink}
				
		
					{BEGIN item29_menulink}
			<li class=" {$item29_current}">
				
<a {$item29_menulink_attrs} title="{$item29_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item29_icon} {$item29_title}
		</span>
				{BEGIN item29_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item29_expand_icon}
	</span>
	</a>

				
								<ul class="
									nav collapse 
					{$submenu29_class}" 
					id="submenu29" data-menulevel=3>
					{BEGIN item30_menulink}
						<li class=" {$item30_current}">
						
<a {$item30_menulink_attrs} title="{$item30_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item30_icon} {$item30_title}
		</span>
			</span>
	</a>

					</li>
					{END item30_menulink}
								
									{BEGIN item31_menulink}
						<li class=" {$item31_current}">
						
<a {$item31_menulink_attrs} title="{$item31_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item31_icon} {$item31_title}
		</span>
				{BEGIN item31_expand_icon}
		<span class="r-menu-expand-icon 
							fa fa-angle-left
		"></span>
		<span class="r-menu-mobile-expand-icon fa fa-angle-left"></span>
		{END item31_expand_icon}
	</span>
	</a>

						
												<ul class="
													nav collapse 
							{$submenu31_class}" 
							id="submenu31" data-menulevel=4>
							{BEGIN item32_menulink}
								<li class=" {$item32_current}">
								
<a {$item32_menulink_attrs} title="{$item32_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item32_icon} {$item32_title}
		</span>
			</span>
	</a>

							</li>
							{END item32_menulink}
												</ul>
					</li>
					{END item31_menulink}
								
									{BEGIN item33_menulink}
						<li class=" {$item33_current}">
						
<a {$item33_menulink_attrs} title="{$item33_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item33_icon} {$item33_title}
		</span>
			</span>
	</a>

					</li>
					{END item33_menulink}
								
									{BEGIN item34_menulink}
						<li class=" {$item34_current}">
						
<a {$item34_menulink_attrs} title="{$item34_tooltip}" 
				data-menu-v
			data-menu-inline
	data-menu-link
>
	<span class="
	r-menu-link
		"> 
		<span class="r-menu-title">
		{$item34_icon} {$item34_title}
		</span>
			</span>
	</a>

					</li>
					{END item34_menulink}
								</ul>
			</li>
			{END item29_menulink}
				</ul>
	</li>
	{END item2_menulink}
</ul>