##foreach @BUILDER.Tables as @t filter IsAdminTable(@t)##
<ul class="nav navbar-nav">
	{BEGIN item##@index##_menulink}
	<li class="{BEGIN item##@index##_current} active{END item##@index##_current}">
		<a {$item##@index##_menulink_attrs} class="curlink">
			<span class="r-menu-expanded">			
				{$item##@index##_icon} {$item##@index##_title}
			</span>
			<span class="r-menu-collapsed">{$item##@index##_collicon}{$item##@index##_firstcap}</span>
		</a>
	</li>
	{END item##@index##_menulink}
</ul>
##endfor##	

